.orders-card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.orders-card {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.orders-card a {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.orders-card a div {
  padding: 5px;
}
